.Header{
    display: flex;
    width:100%;
    background-color: rgb(31, 31, 33);
    color:pink;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    .Header-left{
        ul{
            display: flex;
            flex:2;
            list-style-type: none;
            padding: 5px;
            margin-left: 30px;
            font-size: 20px;
            align-items: center;
            li{
                margin:5px;
                list-style-type: none;   
            }
           .Movie{
            color: white;
            text-decoration: none;
           }
            .color{
                color:orange;
                text-align: center;
            }

            }

            
        }
    }
    .Header-right{
        display: flex;
        padding: 5px;
        margin:5px;
        font-size: 20px;
        .search{
            background-color: rgb(31, 31, 33);;
            border: none;
            outline: none;
            margin: 20px;
            border-bottom:1px solid white ;
            color:blue;
        }
            .right{
                
                position:relative;
            .icon{
              
               position:absolute;
               bottom: 23px;
               left:160px
            
        }  

            }
        
        
    }

    .last{
        margin-left: 100px;
    margin: 25px;
    font-size: 10px;

    }
    .logo{
        margin:20px ;
        font-size: x-large;
        .menu-list{
        list-style-type: none;
 
        flex-direction: column;
        z-index: 999;
        position:absolute;
        right: 15px;
        margin-top: 30px;
        font-size: 15px;
        background-color: rgb(77, 9, 236) ;
        display: block;
        height:100px;
        line-height: 30px;
        border-radius: 5px;
        :hover{
            background-color: aliceblue;
            color: black;
        }

        }

    }
#lisports{
    color:bisque;
}
.changeSportcolor{
    background-color: red;
}
.changelightsport{
    background-color:green;
}   
    
   
   
    